# Google Apps Script Web App URL
# Get this after deploying your Apps Script as Web App
# Instructions: see apps-script/SETUP.md
SHEETS_API_URL=https://script.google.com/macros/s/YOUR_DEPLOYMENT_ID/exec
